<% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "flash #{key}" %>
<% end %>

<h1>Edit Order number <%=@order.id%></h1>
<%= form_for(@order) do |f| %>
  <%= f.label :expedited, "Expedite the shipping?" %>
  <%= f.check_box :expedited  %>
  <br>

  <%= f.label :returnable, "Order is returnable?" %>
  <%= f.check_box :returnable  %>
  <br>

  <%= f.label :warehoused, "Order has been warehoused?" %>
  <%= f.check_box :warehoused %>
  <br>
  <br>
  <%= f.submit "Update Order" %>
<% end  %>
